*{
  padding: 0;
}

body{
  color: #171b1fc9;
}

.bg__div{
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background-attachment: fixed;
/*   display: grid; */
/*   align-items: center; */
  width: 100%;
  height: 100%;
  
  font-family: 'Viga', sans-serif;
  letter-spacing: 3px;
  line-height: 1.5;
}

.navbar__bg{
  background: #d36836;
  box-shadow: 0 10px 1rem 0 rgba(0, 0, 0, .1);
  padding: 1rem 0;
}

.navbar-brand{
  font-family: 'Bungee', cursive;
  color: #f4f4f4;
  letter-spacing: 5px;
  word-spacing: 3px;
}

.jumbotron__div{
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);

  backdrop-filter: blur(5px); 
}

.accordion__div-card{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
  border-radius: 5px;
  border: 1px solid #d36836;
  background-color: #ffed4b54;

  backdrop-filter: blur(4px);
}

.card-header{
  background: #ffd15c;
  backdrop-filter: blur(3px);
}

.btn-link{
  color: #242a30;
  text-decoration: none;
  letter-spacing: 3px;
}

.btn-link:hover{
  color: #333;
}

.btn__color{
  background: #d36836;
  color: #f4f4f4;
}

.btn__color:hover{
  background: #d3683688;
}

.footer {
  text-align: center;
 
  background: rgba(0, 0, 0, .2);
  backdrop-filter: blur(3px);
  padding: 8px;
}

.heart {
  color: rgb(231, 15, 15);
}
